body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
input{
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.true {
  border-bottom-color: green;
}
.false {
  border-bottom-color: red;
}
.g-recaptcha{
  width: 200px;
  height: 100px;
  display: block;
}
